@import '_variables';

//define valores defaults
.default(){
    @ui-card-background: @dialog
}
.default();

ui-card, .ui-card{
    background:@ui-card-background;
    display: block;
    margin: 8px;
    position: relative;
    border-radius: 2px;
    font-size: 14px;
    .shadow-1;
}
.ui-card-content {
    position: relative;
    padding: 16px;
}
.ui-card-header, .ui-card-footer{
    min-height: 48px;
    position: relative;
    padding: 4px 16px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ui-card-header {
    border-radius: 2px 2px 0 0;
    font-size: 16px;
}
.ui-card-footer {
    color: @darkSecondaryText; //#757575;
    border-radius: 0 0 2px 2px;
}
.ui-card-image{
    color:@lightPrimaryText;
    height:190px;
    align-items: flex-end;
}