ui-textfield input{
    position: relative;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 36px;
    color: #212121;
    font-size: 16px;
    font-family: inherit;
    border-bottom: solid 2px transparent;
}
ui-textfield label{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgba(0,0,0,.65);
    font-size: 12px;
    margin-top: 7px;
    width: auto;
    max-width: 75%;
}
ui-textfield[ui-element="active"] input{
    border-bottom:solid 2px #2196f3;
    transition-duration:.2s;
}
ui-textfield[ui-element="active"] label{
    color: #2196f3;
}
ui-textfield.floating label{
    transition-duration: .2s;
    transform-origin: left;
    transform: scale(1.33333333) translateY(21px);
}
ui-textfield.floating[ui-element="active"] label{
    transform: scale(1) translateY(0);
}
ui-textfield.notnull:not([ui-element="active"]) label{
    transform: scale(1) translateY(0);
}
